<h1>Welcome to the Music Tracker</h1>
<p>
    <%= link_to 'New Article', new_album_path %>
</p>
<p>
    <table>
        <tr>
            <th>Album Title</th>
            <th>Artist</th>
            <th>Artwork</th>
        </tr>
     </table>
</p>
